# Ignorar el archivo .env
.env

# Ignorar el directorio node_modules
node_modules/

# También puedes ignorar otras dependencias o directorios temporales si es necesario
# Por ejemplo:
# .npm/
# .yarn/
# .cache/
